<div class="jumbotron">
	<div class="container">
		<h1>Welcome to the N Enterprise!</h1>
		<p>This is application for personel management of the N Enterprise</p>
		<p><a><%= link_to "Sign up now!", signup_path, class: "btn btn-primary btn-lg" %></a></p>
	</div>
</div>
