<% @errands.each do |errand| %>
<li>
  <h4>
    <ul>
      <%= link_to errand.address, errand %>
      - <%= errand.users.count %> - workers sent
    </ul>

    <ul>
      <% if errand.is_finished==false %>
        <span class="label label-info">
          (Errand not finished yet)
        </span>
      <% else %>
        <span class="label label-success">
          (Errand complete)
        </span>
      <% end %>

      <% if admin?(current_user) %>
        | <%= link_to "delete", errand, method: :delete, data: { confirm: "Delete errand?" } %>
      <% end %>
    </ul>
  </h4>
</li>
<% end %>