<% @rewards.each do |reward| %>
<li>
	<p>
		<h4>
			<%= reward.title %>
			- <%= reward.users.count %> awarded	
		</h4>
		(<%= reward.description %>)

  <% if admin?(current_user) %>
    | <%= link_to "delete", reward, method: :delete, data: { confirm: "Delete reward?" }, title: reward.title %>
  <% end %>

	</p>
</li>
<% end %>