<h3>
	<% if !@user.department.nil?%>
		<%= link_to @user.department.designation, @user.department %>
	<% else %>
    <% if admin?(@user)%>
      You are already Boss
    <% else %>
      Not assigned
    <% end %>
	<% end %>
</h3>