<%= form_for(@speech, remote: true)  do |model| %>
  <li class="list-group-item">
    <div class="field">
      <% if !@new_langs.blank? %>
        <%= model.label "Select language" %>
        <%= collection_select(:languages, :id, @new_langs, :id, :name) %>
        <%= model.submit "Add new language" , class: "btn btn-primary" %>
      <% end %>
    </div>
  </li>
<% end %>
