<!-- < @reward_items.each do |item| %> -->
	<!-- <li class="list-group-item"><= item %></li> -->
<!-- < end %> -->

<li class="list-group-item"><%= @reward_items %></li>
<li class="list-group-item">second item</li>