<tr>
	<td><%= min_avatar_for(user) %><td>
  <td><h4><%= link_to user.name, user %></h4></td>
  <% if admin?(current_user) && !current_user?(user) %>
    <td><h4><%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %></h4></td>
  <% end %>
  <% if admin?(current_user) && !current_user?(user) %>
    <td><h4><%= check_box_tag(user) %></h4></td>
  <% end %>
</tr>