<% provide(:title, 'Stuff list') %>
<h1>Stuff list</h1>

<%= will_paginate %>
<hr>
<div class="col-lg-8">
  <table class="table table-striped">
    <tbody>
    <%= render @users %>
    </tbody>
  </table>
</div>
<div class="col-lg-4">
  <table class="table table-striped">
    <tbody>
    </tbody>
  </table>
</div>

<%= will_paginate %>