<% provide(:title, 'Stuff list') %>
<h1>Stuff list</h1>

<%= will_paginate %>

<div class="col-lg-8">
  <table class="table table-striped">
    <tbody>
    <%= render @users %>
    </tbody>
  </table>
</div>

<%= will_paginate %>