<li>
  <p>
	<% if admin?(current_user) %>
		<%= link_to department.designation, department%>
	<% else %>
		<%= department.designation %>
		- <%= department.users.count %> workers
    <% end %>
  </p>
</li>
