<header class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a><%= link_to "N Enterprise", root_path, class: "navbar-brand" %></a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<section>
				<%= render 'shared/signin_form' %>
			</section>
		</div>
	</div>
</header>
